* {
    /* `otf-font-awesome` is required to be installed for icons */
<<<<<<< HEAD
    font-family: "CodeNewRoman Nerd Font Propo";
    font-size: 17px;
    font-weight: 600;

    color: #ffffff;
}
window#waybar{
    all:unset;
}
/* window#waybar {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
=======
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.0);
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #000000;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
<<<<<<< HEAD
    opacity: 0.8;
} */
=======
    opacity: 0.2;
}
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

<<<<<<< HEAD
.modules-left {
    padding: 5px 100px 5px 7px;
    margin: 5px;
    border-radius:8px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
}
.modules-center {
    padding: 5px 100px 5px 100px;
    margin: 5px;
    border-radius:8px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
}
.modules-right{
    padding: 5px 7px 5px 100px;
    margin: 5px;
    border-radius:8px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
}
=======
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
<<<<<<< HEAD
    color: #ffffff;
=======
    color: #000000;
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 5;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
<<<<<<< HEAD
    background-color: transparent; 
=======
    background-color: #444444; 
    border-radius: 5px;
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
}

#battery {
    background-color: transparent; 
    color: #000000;
    margin-right: 5;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
<<<<<<< HEAD
    background-color: transparent;
    color: #ffffff;
}

#memory {
    background-color: transparent;
    color: #ffffff;
}

#disk {
    background-color: transparent;
=======
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
}

#backlight {
    background-color: #90b1b1;
<<<<<<< HEAD
    border-radius: 10px;
    padding-right: 15px;
}

#network {
    background-color: transparent;
    border-radius: 10px;
=======
}

#network {
    background-color: #2980b9;
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
}

#network.disconnected {
    background-color: #f53c3c;
<<<<<<< HEAD
    border-radius: 10px;
}

#pulseaudio {
    background-color: #1a1b26;
    color: #fefefe;
    border-radius: 10px;
    padding-right: 15px;
=======
}

#pulseaudio {
    background-color: #fefefe;
    color: #000000;
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
<<<<<<< HEAD
    background-color: transparent;
    color: #ffffff;
}

#wireplumber button:hover{
    background-color: inherit;
=======
    background-color: #fff0f5;
    color: #000000;
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
<<<<<<< HEAD
    background-color: transparent;
    color: #ffffff;
=======
    background-color: #f0932b;
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
}

#temperature.critical {
    background-color: #eb4d4b;
<<<<<<< HEAD
    border-radius: 10px;
    padding-right: 15px;
=======
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
<<<<<<< HEAD
    border-radius: 10px;
    padding-right: 15px;
=======
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
<<<<<<< HEAD
    border-radius: 10px;
    padding-right: 15px;
=======
>>>>>>> c7d8fa4ec6594dfa8c870707239f64655131e1cb
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
