* {
  border: none;
  border-radius: 20px;
  font-family: "CodeNewRoman Nerd Font Propo";
  /*font-family: "JetBrainsMono Nerd Font", monospace;*/
  font-size: 17px;
  font-weight: 600;
  min-height: 0;
  box-shadow: none;
  outline: none;
}

@define-color primary #89b4fa;
window#waybar {
  all: unset;
}

.modules-left {
  margin: 5px;
  padding: 1 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0);
}

.modules-center {
  margin: 5px;
  padding: 1 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}
.modules-right {
  margin: 5px;
  padding: 1 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0);
}

#workspaces button {
  padding: 2 8px;
  margin: 0 2px;
  border-radius: 20px;
  color: #cdd6f4; /* text color */
  background: #1e1e2e; /* background color */
  transition:
    background 0.3s,
    padding 0.3s;
}

#workspaces button.active {
  background: @primary; /* highlight active workspace */
  padding: 2 20px;
  color: #1e1e2e;
}

#workspaces button.urgent {
  background: #f38ba8;
  color: #1e1e2e;
}

#workspaces button:hover {
  background: #c2ddff; /* highlight active workspace */
  text-shadow: none;
  color: #1e1e2e;
  padding: 2 20px;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#window {
  padding: 0 10px;
  color: #ffffff;
  background: linear-gradient(270deg, #f38ba8, #94e2d5, #f5c2e7, @primary);
  background-size: 800% 800%; /* makes it large so it can flow */
  /* animation of gradient */
  animation: flow 10s linear infinite;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#bluetooth,
#window,
#clock {
  background-color: transparent;
}

#clock {
  padding: 0 10px;
  transition: all 0.3s;
}

#clock:hover {
  padding: 0 10px;
  background: @primary;
  color: #1a1b26;
}

#battery {
  background: transparent;
  color: #ffffff;
  padding: 0 10px;
  transition:
    background 0.3s,
    padding 0.3s,
    color 0.3s;
}

#battery:hover {
  background: @primary;
  padding: 0 20px;
  color: #1a1b26;
}

#battery.charging,
#battery.plugged {
  color: #26a65b;
  background-color: transparent;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  padding: 2 8px;
  background: transparent;
  border-radius: 20px;
  transition:
    background 0.3s,
    padding 0.3s,
    color 0.3s;
}
#network:hover {
  background: @primary;
  color: #1a1b26;
  padding: 0 20px;
}

#network.disconnected {
  background-color: #f53c3c;
}

#wireplumber {
  padding: 0 10px;
  border-radius: 20px;
  color: #ffffff;
  transition:
    background 0.3s,
    padding 0.3s;
}

#wireplumber:hover {
  background-color: inherit;
  background: @primary;
  color: #1a1b26;
  padding: 0 20px;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: transparent;
  color: #ffffff;
}

#temperature.critical {
  background-color: #eb4d4b;
  border-radius: 10px;
  padding-right: 15px;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#bluetooth {
  padding: 0 10px;
  border-radius: 20px;
  color: #ffffff;
  transition:
    background 0.3s,
    padding 0.3s;
}
#bluetooth:hover {
  background: @primary;
  color: #1a1b26;
  padding: 0 20px;
}

#custom-powermenu {
  background: transparent;
  padding: 0 10px;
  border-radius: 20px;
  transition:
    background 0.3s,
    padding 0.3s;
}
#custom-powermenu:hover {
  background: @primary;
  color: #1a1b26;
  padding: 0 20 0 25px;
}
